spasecurity/.idea
spasecurity/.mvn
spasecurity/target
spasecurity/target/classes/application.properties
spasecurity/spasecurity.iml
spasecurity/.settings/
oauthwrapper/.settings/
oauthwrapper/.project
oauthwrapper/.classpath
spasecurity/.project
spasecurity/.classpath
